.insights {
  background-color: #f7f7f7ff;
  position: relative;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.insights h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.insights p {
  width: 50vw;
  font-size: 0.9rem;
  color: rgb(58, 58, 58);
  text-align: center;
}
.insights-container {
  display: flex;
  margin-top: 2rem;
}

.insight-card {
  position: relative;
  height: 18rem;
  width: 15rem;
  background-color: white;
  margin: 2rem;
}
.insight-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem 1rem;
}
.insight-description h5 {
  font-size: 0.7rem;
  text-align: left;
  margin-bottom: 0.5rem;
}
.insight-description h3 {
  font-size: 0.8rem;
  text-align: left;
}
.insight-card img {
  height: 10rem;
}
.insight-card button {
  position: absolute;
  bottom: 0;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .insights p {
    width: 80vw;
    font-size: 0.85rem;
  }
  .insights-container {
    flex-direction: column;
  }
  .insight-card {
    position: relative;
    height: 18rem;
    width: 80vw;
    background-color: white;
    margin: 0.5rem;
  }
}
