@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /* font-family: Neon; */
  outline: none;
  scroll-behavior: smooth;
  /* outline: 1px solid limegreen; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.2rem;
  box-shadow: inset 9.91px 9.91px 15px #dadada,
    inset -9.91px -9.91px 15px #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
